# ai codegen
AGENTS.md
CLAUDE.md
.agents
.claude

# wails
build/*
!build/appicon.png
!build/mdFileIcon.png
node_modules
frontend/dist
frontend/package.json.md5

# tool
.playwright-mcp

# test
frontend/coverage
.playwright-cli/
tests/e2e/playwright-report/
tests/e2e/test-results/
frontend/test-results/
*.out
test-results/.last-run.json
/mindstack

# log
*.log